{% extends 'index.html' %}

{% block posts %}
    {% with massages= get_flashed_messages(with_categories=true)%} {% if massages %} {% for category,massage in massages %}
    <div class="text-center text-dark alert {{ category }}" id="mydiv">
        {% if category=="alert-success" %}  {% endif %} {{ massage }} </div>  {% endfor %} {% endif %} {% endwith %}


{% if posts %}
<div class="container_fluid">
    <div id="posts" class="row " style="min-width: 100%">
        {% for post in posts %}
        <div class="col-4 bg-white mt-2">
            <div class="card" style="height:100% ">
                <div class="card-header">
                    <img class="rounded"
                         src="{{ url_for('static', filename='media/uploads/posts/' + post.image) }}"
                         style="width:100%;max-height: 200px">
                </div>
                <div class="card-body">
                    <h3>{{post.title}}</h3><br>
                    <strong><p>{{ post.content[:50] }}...</p></strong><br>


                    <div class="row justify-content-between">
                        <div class="col-4">
                            <button class="btn btn-info">

                                <a class="text-white"
                                   href="{{ url_for('blog.post' ,post_id=post._id|string)}}">بیشتر</a>
                            </button>
                        </div>
                        <div class="col-auto">

                            <button class="btn btn-info" style="direction: rtl">
                                <a class="text-white"
                                   href="{{ url_for('blog.user_posts' ,user_id=post.user._id|string) }}">{{post.user.username}}
                                    : نویسنده</a></button>
                        </div>
                        <div class="col-auto">
                            {% if post.tag %}
                            {% for tag in post.tag %}
                            <button class="btn btn-info">
                                <a class="text-white"
                                   href="{{ url_for('blog.tag_posts' ,tag=tag) }}">{{ tag }}</a>
                            </button>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {% endfor %}


    </div>


</div>
{% endif %}

{% endblock %}

{% block js %}
<script src="{{ url_for('static',filename='js/alert.js') }}"></script>
{% endblock %}